body {
    background-color: rgb(130, 186, 231);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#game {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: flex-start;
    align-items: flex-start;
}
#buttons {
    text-align: center;
    width: auto;
}
button {
    color:rgb(255, 255, 255);
    background-color: rgb(94, 94, 134);
    padding: 0.5em;
    border-color: rgb(36, 58, 73);
    border-style: solid;
    border-width: 2px;
    border-radius: 0.5em;
}
button:hover {
    background-color:rgb(119, 119, 170);
    border-radius: 1em;
}
#resetbtn {
    margin: auto;
    display: block;
}
#score {
    border-width: 2px;
    border-style: solid;
    border-radius: 15%;
    background-color: rgb(155, 155, 204);
    width: 1fr;
    padding: 0.5em;
}
#round-result {
    color:rgb(112, 0, 0);
}
#game-result {
    color:rgb(189, 3, 3);
}